.App {
  text-align: center;
}

.itemsContainer{
  justify-content: center;
  gap: 3rem;
  word-spacing: 5px;
  margin-left: 50px;
  margin-right: 50px;
}

.buttons{
  margin-left: 50px;
  margin-right: 50px;
  width: auto;
  height: auto;
  display: inline-block;
}